{varType Nette\Utils\Paginator $paginator}

<div class="row py-3" n:if="$paginator->getPageCount() !== null && $paginator->getPageCount() > 1">
    <div class="col-12 d-flex justify-content-between align-items-center">
        {if ! $paginator->isFirst()}
            {include #link page => $paginator->page - 1, fa => 'fa-angle-left'}
        {else}
            <span class="invisible fas fa-fw fa-2x fa-angle-left"></span>
        {/if}


        <div>
                <form action="{link changePage!}" method="get" class="ajax d-inline" data-id-length="0" id="{$cName}-">
                    <input type="text"
                           name="{$cName}-page"
                           value="{$paginator->page}"
                           data-form-change-link="{link changePage!}"
                           data-form-attr="page"
                           class="form-control text-center d-inline mx-1 wp-50"
                           style="width: 50px;">
                </form>
                / <small>{$paginator->pageCount}</small></div>

        {if ! $paginator->isLast()}
            {include #link page => $paginator->page + 1, fa => 'fa-angle-right'}
        {else}
            <span class="invisible fas fa-fw fa-2x fa-angle-right"></span>
        {/if}
    </div>
</div>

{define #link}
    <div><a n:href="changePage! page => $page" class="ajax fas fa-fw fa-2x {$fa}"></a></div>
{/define}