$color--grey-1: #f5f5f5;
$color--grey-2: #e0e0e0;

.preload-box {
  &-line-1 {
    min-height: 1.5rem;
    background-repeat: no-repeat;
    animation: loading 1.5s infinite;
    background-image: linear-gradient(
                    90deg,
                    rgba($color--grey-1, 0) 0,
                    rgba($color--grey-1, .3) 40%,
                    rgba($color--grey-1, .3) 60%,
                    rgba($color--grey-1, 0) 100%
    ),
    linear-gradient(rgba($color--grey-2, .2) 100%, transparent 0);

    background-size: 150px 17.5rem,
    100% 1.5rem;

    background-position: -150% 0, //animation
    0 0;
  }

  &-delay {
    @for $i from 0 through 19 {
      &-#{$i} {
        animation-delay: calc(#{$i} * 50 * 1ms);
      }
    }
  }
}

@keyframes loading {
  to {
    background-position: 150% 0,
    0 0;
  }
}